.title{
    display: flex;
    justify-content: center;
    h3{
        text-align: center;
    };
}
.container-count{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
        cursor: pointer;
        border-radius: 1rem;
        border: none;
        background-color: #023e8a;
        padding: 0.5rem;
        margin: 0.2rem;
        color: white;
    }
}