//ProductItem

.shopping-container{
    border: 0.1rem solid rgb(36, 36, 121);
    padding: 1rem;
    text-align: center;
    justify-content: center;
    button{
        margin-top: 1.5rem;
        border-radius: 0.5rem;
        border-color :rgb(26, 26, 255);
        align-items: center;
    }
}

//shoppingCart

.cart-container{
    margin-top: 3rem;
    .box-pack{
        padding: 1rem;
        margin: 1rem;
        box-shadow: 0 0 1rem #36336ea6 inset;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .box-button{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
}
